*   {
    box-sizing: border-box;
}

body {
    background-color: #FFFFFF;
    background-image: url('../img/target-background.jpg');
    background-position: top; 
    background-repeat: no-repeat;   
}

ul  {
    margin: 0;
    padding: 0;
    list-style: none;
}

img {
    max-width: 1920px;
}

.container {
    max-width: 1160px;
    margin-left: auto;
    margin-right: auto ;    
}

.a {
    text-transform: none;
    text-decoration: none;
    color : #FFFFFF;
}

p {
    margin: 0;
    color: #242424;
    
}

h1 {
    margin: 0;
}

.list--header {
    display: flex;
    justify-content: center;
    animation: 1.5s show ease;
}

.list--header--duration {
    padding-right: 30px;
}

.list--header--duration--item--text {
    width: 127px;
    height: 24px;
    Font-family: 'SF UI Display', sans-serif;
    text-align: center;
    font-size: 20px;
    font-style: normal;
    font-weight: 300;
    line-height: normal;
}

.list--header--duration--item--text-day {
    color: #242424;
    text-align: center;
    font-family: 'SF UI Display', sans-serif;
    font-size: 25px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    text-align: right;
}

.list--header--duration--item:not(:last-child), .list--header--format--item:not(:last-child){
    padding-top: 9px;
    padding-bottom: 14px;
}

.list--header--start {
    width: 300px;
    height: 119px;
    flex-shrink: 0;
    border-bottom-left-radius: 30px;
    border-bottom-right-radius: 30px;
    background: #FFF;
    filter: drop-shadow(0px 8px 0px rgba(0, 0, 0, 0.10));
}

.list--header--start--item:not(:last-child) {
    padding-top: 6px;
    padding-bottom: 5px;
}

.list--header--start--item {
    text-align: center;
}

.list--header--start--item--text {
    height: 38px;
    font-family: 'SF UI Display', sans-serif;
    font-size: 32px;
    font-style: normal;
    font-weight: 300;
    line-height: normal;
}

.list--header--start--item--text-day {
    height: 48px;
    color: var(--unnamed, #426BFF);
    font-family: 'SF UI Display', sans-serif;
    font-size: 40px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

.list--header--format--item {
    padding-left: 30px;
    display: flex;
}

.list--header--format--item--text {
    height: 24px;
    text-align: center;
    font-family:'SF UI Display', sans-serif;
    font-size: 20px;
    font-style: normal;
    font-weight: 300;
    line-height: normal;
}

.list--header--format--item--text-day {
    text-align: center;
    font-family: 'SF UI Display', sans-serif;
    font-size: 25px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}

.list--header--format--item--text-button {
    width: 7px;
    height: 7px;
    background: var(--unnamed, linear-gradient(135deg, rgba(255, 255, 255, 0.00) 0%, rgba(255, 255, 255, 0.33) 54.17%, rgba(255, 255, 255, 0.00) 100%), #426BFF);;
    border-radius: 50%;
    margin-top: 3px;
    -webkit-animation: glowing 1300ms infinite;
    -moz-animation: glowing 1300ms infinite;
    -o-animation: glowing 1300ms infinite;
    animation: glowing 1300ms infinite;
    }
    @-webkit-keyframes glowing {
    0% { background-color: #0091b2; -webkit-box-shadow: 0 0 3px #0091b2; }
    50% { background-color: #21c7ed; -webkit-box-shadow: 0 0 15px #21c7ed; }
    100% { background-color: #0091b2; -webkit-box-shadow: 0 0 3px #0091b2; }
    }
    @keyframes glowing {
    0% { background-color: #0091b2; box-shadow: 0 0 3px #0091b2; }
    50% { background-color: #21c7ed; box-shadow: 0 0 15px #21c7ed; }
    100% { background-color: #0091b2; box-shadow: 0 0 3px #0091b2; }
    }

/* HERO */

.hero-container {
    padding-top: 43px;
}

.hero-container--access {
    position: absolute;
    width: 395px;
    height: 72px;
    border-radius: 10px;
    border: 1px dashed #426BFF;
    display: flex;
    align-items: center;
    justify-content: center;
    transform: translateY(-30px);
    opacity: 0;
    transition: all 0.8s ease 0s;
}

.hero-container--access._active {
    transform: translateY(0px);
    opacity: 1;
    transition: all 0.8s ease 0.1s;
}

.hero-container--access--img {
    margin-right: 7px;
}

.hero-container--access--text {
    text-align: center;
    font-family: 'SF UI Display', sans-serif;
    font-size: 20px;
    font-style: normal;
    font-weight: 300;
    line-height: normal;

}

.hero-container--access--text--bold {
    font-weight: 500;
}

.hero-container--base-information {
    padding-top: 103px;
}

.hero-container--base-information--text {
    width: 690px;
    font-family: 'SF UI Display', sans-serif;
    font-size: 49px;
    font-style: normal;
    font-weight: 300;
    line-height: normal;
    position: relative;

    transform: translateX(-120%);
    opacity: 0;
    transition: all 0.8s ease 0s;
}

.hero-container--base-information--text._active {
    transform: translateX(0px);
    opacity: 1;
    transition: all 0.8s ease 0.4s;
}

.hero-container--base-information--text--bold {
    font-weight: 600;
}

.hero-container--description {
    padding-top: 31px;
    display: flex;
    transform: translateX(-120%);
    opacity: 0;
    transition: all 0.8s ease 0s;
}

.hero-container--description._active {
    transform: translateX(0px);
    opacity: 1;
    transition: all 0.8s ease 0.45s;
}

.hero-container--description--loading {
    width: 64px;
    height: 18px;
    margin-top: 19px;
}

.hero-container--description--text {
    width: 369px;
    padding-left: 12px;
    font-family: 'SF UI Display', sans-serif;
    font-size: 25px;
    font-style: normal;
    font-weight: 300;
    line-height: 145%;
}

.hero-container--description--text--bold {
    font-weight: 600;
}

.hero-container--message {
    padding-top: 50px;
}

.hero-container--message--btn { 
    width: 487px;
    height: 145px;
    border: none;
    background-image: url("../img/hero-container--message--btn--background.png");
    transform: translateY(-30px);
    opacity: 0;
    transition: all 0.8s ease 0s;
}

.hero-container--message--btn._active {
    transform: translateY(0px);
    opacity: 1;
    transition: all 0.8s ease 1s;
}


.hero-container--message--btn--text {
    color: #FFF;
    text-align: center;
    font-family:'Manrope', sans-serif;
    font-size: 27px;
    font-style: normal;
    font-weight: 500;
    line-height: 130%;
    letter-spacing: 1.371px;
    margin: 0;
    transform: translateY(-10px);
}

.hero-container--message--btn1 {
    margin-left: 14px;
    margin-bottom: 7px;
    transform: translateY(10px);
}

.hero-container--message--btn2 {
    margin-left: 21px;
    transform: translateY(10px);
}


/* Результаты */

.results-container {
    padding-top: 320px;
}

.results-container--heading { 
    transform: translateY(-30px);
    opacity: 0;
    transition: all 0.8s ease 0s;
}

.results-container--heading._active {
    transform: translateY(0px);
    opacity: 1;
    transition: all 0.8s ease 0.1s;
}

.results-container--heading--name {
    margin-left: auto;
    margin-right: auto;
}

.results-container--heading--text {
    width: 440px;
    text-align: center;
    font-family: 'SF UI Display', sans-serif;
    font-size: 45px;
    font-style: normal;
    font-weight: 300;
    line-height: normal;

}

.results-container--heading--text--bold {
    font-weight: 600;
}

.results-container--elements {
    padding-top: 38px;
}

.results-container--elements--list {
    display: flex;
}

.results-container--elements--list--profession {
    width: 355px;
    margin-right: 108px;
}

.results-container--elements--list--profession--item, .results-container--elements--list--plan--item, .results-container--elements--list--clients--item {
    display: flex;
    justify-content: center;
}

.results-container--elements--list--profession--item--img, .results-container--elements--list--plan--item--img, .results-container--elements--list--clients--item--img {
    transform: translateY(-30px);
    opacity: 0;
    transition: all 0.8s ease 0s;
}

.results-container--elements--list--profession--item--img._active, .results-container--elements--list--plan--item--img._active, .results-container--elements--list--clients--item--img._active {
    transform: translateY(0px);
    opacity: 1;
    transition: all 0.8s ease 0.2s;
}



.results-container--elements--list--profession--item--text, .results-container--elements--list--plan--item--text, .results-container--elements--list--clients--item--text {
    margin-top: 27px;
    text-align: center;
    font-family: 'SF UI Display', sans-serif;
    font-size: 21px;
    font-style: normal;
    font-weight: 300;
    line-height: normal;
    transform: translateY(-30px);
    opacity: 0;
    transition: all 0.8s ease 0s;
}

.results-container--elements--list--profession--item--text._active, .results-container--elements--list--plan--item--text._active, .results-container--elements--list--clients--item--text._active {
    transform: translateY(0px);
    opacity: 1;
    transition: all 0.8s ease 0.3s;
}

.results-container--elements--list--plan {
    width: 232px;
    margin-right: 108px;
}

.results-container--elements--list--clients {
    width: 340px;
}


.results-container--elements--list--profession--item--text-bold, .results-container--elements--list--plan--item--text-bold, .results-container--elements--list--clients--item--text-bold {
    font-weight: 500;
}

/* Отзывы */

.reviews-container {
    padding-top: 75px;
}

.reviews-container--heading--name {
    margin-left: auto;
    margin-right: auto;
}

.reviews-container--heading--text {
    text-align: center;
    font-family: 'SF UI Display', sans-serif;
    font-size: 45px;
    font-style: normal;
    font-weight: 300;
    line-height: normal;
    transform: translateY(-30px);
    opacity: 0;
    transition: all 0.8s ease 0s;
}

.reviews-container--heading--text._active {
    transform: translateY(0px);
    opacity: 1;
    transition: all 0.8s ease 0.1s;
}

.reviews-container--heading--text-bold {
    font-weight: 500;
}

.reviews-container--subtitle {
    margin-top: 10px;
}

.reviews-container--subtitle--name {
    margin-right: auto;
    margin-left: auto;
    width: 358px;
}

.reviews-container--subtitle--text {
    text-align: center;
    font-family: 'SF UI Display', sans-serif;
    font-size: 25px;
    font-style: normal;
    font-weight: 300;
    line-height: normal;
    transform: translateY(-30px);
    opacity: 0;
    transition: all 0.8s ease 0s;
}

.reviews-container--subtitle--text._active {
    transform: translateY(0px);
    opacity: 1;
    transition: all 0.8s ease 0.3s;
}

.reviews-container--subtitle--text-bold {
    font-weight: 500;
}

.reviews-container--video {
    padding-top: 58px;
}

.reviews-container--video--list--item--youtube {
    border-radius: 20px;
}

.reviews-container--video--list {
    display: flex;
}

.reviews-container--video--list--item-btnleft {
    margin: auto 81px auto 0;
    transform: translateX(100px);
    opacity: 0;
    transition: all 0.8s ease 0s;
}

.reviews-container--video--list--item-btnleft._active {
    transform: translateX(0px);
    opacity: 1;
    transition: all 0.8s ease 0.3s;
}


.reviews-container--video--list--item-btnright {
    margin: auto 0 auto 0;
    transform: translateX(-100px);
    opacity: 0;
    transition: all 0.8s ease 0s;
}

.reviews-container--video--list--item-btnright._active {
    transform: translateX(0px);
    opacity: 1;
    transition: all 0.8s ease 0.3s;
}

.reviews-container--video--list--item, .reviews-container--video--list--item3 {
    transform: scale(0);
    transition: all 0.8s ease 0.1s;
}

.reviews-container--video--list--item._active, .reviews-container--video--list--item3._active {
    transform: scale(1);
}


.reviews-container--video--list--item--btn-left , .reviews-container--video--list--item--btn-right {
    position: relative;
    width: 65px;
    height: 65px;
    border: 1px solid #426BFF;
    display: inline-flex;
    border-radius: 50%;
    cursor: pointer;
}

.reviews-container--video--list--item--btn-left::before , .reviews-container--video--list--item--btn-right::before, .reviews-container--video--list--item--btn-left::after , .reviews-container--video--list--item--btn-right::after {
    content: '';
    position: absolute;
}

.reviews-container--video--list--item--btn-left::before , .reviews-container--video--list--item--btn-right::before {
    width: 18px ;
    height: 1px;
    background-color: #426BFF ;
    top: 32px;
    right: 23px;
}

.reviews-container--video--list--item--btn-left::after , .reviews-container--video--list--item--btn-right::after {
    width: 8px;
    height: 8px;
}

.reviews-container--video--list--item--btn-left::after {
    border-top: 1px solid #426BFF;
    border-left: 1px solid #426BFF;
    transform: rotate(-45deg);
    top: 28px;
    right: 32px;
}

.reviews-container--video--list--item--btn-right::after {
    border-top: 1px solid #426BFF;
    border-left: 1px solid #426BFF;
    transform: rotate(135deg);
    top: 28px;
    right: 23px;
}

.reviews-container--video--list--item--btn-left:hover , .reviews-container--video--list--item--btn-right:hover {
    background-color: #426BFF ;
    }
    
.reviews-container--video--list--item--btn-left:hover::after , .reviews-container--video--list--item--btn-right:hover::after {
    border-color: #FFFFFF;
}

.reviews-container--video--list--item--btn-left:hover::before , .reviews-container--video--list--item--btn-right:hover::before {
    background-color: #FFFFFF;
}

.reviews-container--video--list--item:not(:last-child) {
    margin: auto 60px auto 0;
}

.reviews-container--video--list--item3 {
    margin: auto 81px auto 0;
}


/* Тарифы */

.rates-container {
    padding-top: 108px;
    padding-bottom: 111px;
}

.rates-container--heading--name {
    margin-left: auto;
    margin-right: auto;
}

.rates-container--heading--text {
    text-align: center;
    font-family: 'SF UI Display', sans-serif;
    font-size: 45px;
    font-style: normal;
    font-weight: 300;
    line-height: normal;
    transform: translateY(-30px);
    opacity: 0;
    transition: all 0.8s ease 0s;
}

.rates-container--heading--text._active {
    transform: translateY(0px);
    opacity: 1;
    transition: all 0.8s ease 0.3s;
}

.rates-container--heading--text-bold {
    font-weight: 500px;
}

.rates-container--offers {
    padding-top: 47px;
}

.rates-container--offers--list {
    display: flex;
}

.rates-container--offers--list--standart, .rates-container--offers--list--premium, .rates-container--offers--list--vip {
    display: flex;
    flex-direction: column;
    width: 360px;
    align-items: center;
    padding: 60px 45px 19px 45px;
    border-radius: 20px;
    background: #FFFFFF;
    border: 1px solid #E9E9E9;
    filter: drop-shadow(0px 15px 50px rgba(0, 0, 0, 0.04));
    position: relative;
}

.rates-container--offers--list--standart, .rates-container--offers--list--premium {
    margin-right: 40px;
}

.rates-container--offers--list--standart2, .rates-container--offers--list--premium2, .rates-container--offers--list--vip2  {
    position: absolute;
    width: 69px;
    height: 69px;
    background: var(--unnamed, linear-gradient(135deg, rgba(255, 255, 255, 0.00) 0%, rgba(255, 255, 255, 0.33) 54.17%, rgba(255, 255, 255, 0.00) 100%), #426BFF);
    border: none;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    transform: translateY(-90px);
		color: #FFF;
		font-family: 'Manrope', sans-serif;
		font-size: 1.5vw;
		font-weight: 700;

}

.rates-container--offers--list--standart--img, .rates-container--offers--list--premium--img, .rates-container--offers--list--vip--img  {
    transform: scale(0);
    transition: all 0.8s ease 0.1s;
}

.rates-container--offers--list--standart--img._active, .rates-container--offers--list--premium--img._active, .rates-container--offers--list--vip--img._active  {
    transform: scale(1);
}

.rates-container--offers--list--standart--item--heading-main, .rates-container--offers--list--premium--item--heading-main, .rates-container--offers--list--vip--item--heading-main {
    text-align: center;
    font-family: 'SF UI Display', sans-serif;
    font-size: 30px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    margin-bottom: 38px;
    transform: translateY(-30px);
    opacity: 0;
    transition: all 0.8s ease 0s;
}

.rates-container--offers--list--standart--item--heading-main._active, .rates-container--offers--list--premium--item--heading-main._active, .rates-container--offers--list--vip--item--heading-main._active {
    transform: translateY(0px);
    opacity: 1;
    transition: all 0.8s ease 0.4s;
}

.rates-container--offers--list--standart--item, .rates-container--offers--list--premium--item, .rates-container--offers--list--vip--item {
    display: flex;
}

.rates-container--offers--list--standart--item-text, .rates-container--offers--list--premium--item-text, .rates-container--offers--list--vip--item-text {
    margin-bottom: 15px;
    margin-right: auto;
}

.rates-container--offers--list--standart--item--heading, .rates-container--offers--list--premium--item--heading, .rates-container--offers--list--vip--item--heading {
    color: #B3B3B3;
    text-align: center;
    font-family: 'SF UI Display', sans-serif;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    margin: 0 0 0 15px;
    text-align: left;
    transform: translateY(-30px);
    opacity: 0;
    transition: all 0.8s ease 0s;
}

.rates-container--offers--list--standart--item--heading._active, .rates-container--offers--list--premium--item--heading._active, .rates-container--offers--list--vip--item--heading._active {
    transform: translateY(0px);
    opacity: 1;
    transition: all 0.8s ease 0.42s;
}

.rates-container--offers--list--standart--item--heading-second, .rates-container--offers--list--premium--item--heading-second, .rates-container--offers--list--vip--item--heading-second {
    color: #3F3F3F;
}

.rates-container--offers--list--standart--item--img-ok, .rates-container--offers--list--premium--item--img-ok, .rates-container--offers--list--vip--item--img-ok {
    width: 19px;
    height: 14px;
    margin: auto 0 auto 0;
    transform: scale(0);
    transition: all 0.8s ease 0.84s;
}

.rates-container--offers--list--standart--item--img-ok._active, .rates-container--offers--list--premium--item--img-ok._active, .rates-container--offers--list--vip--item--img-ok._active  {
    transform: scale(1);
}

.rates-container--offers--list--standart--item--img-nope, .rates-container--offers--list--premium--item--img-nope, .rates-container--offers--list--vip--item--img-nope {
    width: 14px;
    height: 14px;
    margin: auto 5px auto 0;
    transform: scale(0);
    transition: all 0.8s ease 0.84s;
}

.rates-container--offers--list--standart--item--img-nope._active, .rates-container--offers--list--premium--item--img-nope._active, .rates-container--offers--list--vip--item--img-nope._active  {
    transform: scale(1);
}


.rates-container--offers--list--standart--item--price, .rates-container--offers--list--premium--item--price, .rates-container--offers--list--vip--item--price {
    margin-top: 14px;
    color: #CDCDCD;
    text-align: center;
    font-family: 'SF UI Display', sans-serif;
    font-size: 35px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    text-decoration: line-through;
    transform: scale(0);
    transition: all 0.8s ease 0.84s;
}

.rates-container--offers--list--standart--item--price._active, .rates-container--offers--list--premium--item--price._active, .rates-container--offers--list--vip--item--price._active {
    transform: scale(1);
}

.rates-container--offers--list--standart--item--price-true, .rates-container--offers--list--premium--item--price-true, .rates-container--offers--list--vip--item--price-true {
    color: #3F3F3F;
    text-align: center;
    font-family: 'SF UI Display', sans-serif;
    font-size: 54px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    margin-bottom: 15px;
    transform: scale(0);
    transition: all 0.8s ease 0.9s;
}

.rates-container--offers--list--standart--item--price-true._active, .rates-container--offers--list--premium--item--price-true._active, .rates-container--offers--list--vip--item--price-true._active {
    transform: scale(1);
}

.rates-container--offers--list--standart--item--btn, .rates-container--offers--list--premium--item--btn, .rates-container--offers--list--vip--item--btn {
    width: 271px;
    height: 78px;
    border: none;
    border-radius: 20px;
    background: linear-gradient(135deg, rgba(255, 255, 255, 0.00) 0%, rgba(255, 255, 255, 0.40) 54.17%, rgba(255, 255, 255, 0.00) 100%), #1A4CFF;
    box-shadow: 0px 5px 0px #163CC0, inset 0px 2.27813px 15.1875px rgba(255, 255, 255, 0.00);
    margin-bottom: 22px;
    transform: scale(0);
    transition: all 0.8s ease 0.9s;
}

.rates-container--offers--list--standart--item--btn._active, .rates-container--offers--list--premium--item--btn._active, .rates-container--offers--list--vip--item--btn._active {
    transform: scale(1);
}

.rates-container--offers--list--standart--item--btn--text, .rates-container--offers--list--premium--item--btn--text, .rates-container--offers--list--vip--item--btn--text {
    color: #FFF;
    text-align: center;
    font-family: 'SF UI Display', sans-serif;
    font-size: 15px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    letter-spacing: 1.05px;
}

.rates-container--offers--list--standart--item--place, .rates-container--offers--list--premium--item--place, .rates-container--offers--list--vip--item--place {
    color: #3F3F3F;
    text-align: center;
    font-family: 'SF UI Display', sans-serif;
    font-size: 14px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    transform: scale(0);
    transition: all 0.8s ease 0.9s;
}

.rates-container--offers--list--standart--item--place._active, .rates-container--offers--list--premium--item--place._active, .rates-container--offers--list--vip--item--place._active {
    transform: scale(1);
}

@keyframes show {
    from { opacity: 0; }
    to { opacity: 1; }
  }


@media screen and (max-width: 320px),
screen and (max-width: 500px) {

    .container {
        max-width: 360px;
    }

    body {
        background-image: url('../img/background-phone.jpg');
    }

    .list--header {
        padding-top: 32px;
    }

    .list--header--duration {
        padding-right: 6px;
    }

    .list--header--duration--item:not(:last-child) {
        padding-bottom: 2px;
    }

    .list--header--duration--item--text {
        width: 96px;
        height: 18px;
        font-size: 15px;
    }

    .list--header--duration--item--text-day {
        height: 21px;
        font-size: 18px;
    }

    .list--header--start {
        width: 132px;
        height: 69px;
        filter: drop-shadow(0px 4px 40px rgba(0, 0, 0, 0.10));
        border-bottom-left-radius: 10px;
        border-bottom-right-radius: 10px
    }

    .list--header--start--item:not(:last-child) {
        padding-top: 13px;
        padding-bottom: 1px;
    }

    .list--header--start--item--text {
        height: 21px;
        font-size: 18px;
    }

    .list--header--start--item--text-day {
        height: 25px;
        font-size: 21px;
    }

    .list--header--format--item {
        padding-left: 6px;
    }

    .list--header--format--item:not(:last-child) {
        padding-bottom: 4px;
    }

    .list--header--format--item--text {
        height: 16px;
        font-size: 13px;
    }

    .list--header--format--item--text-day {
        height: 21px;
        font-size: 18px;
    }

    .list--header--format--item--text-button {
        width: 3px;
        height: 3px;
    }

    .hero-container {
        padding-top: 30px;
    }

    .hero-container--access {
        width: 307px;
        height: 44px;
        margin-left: 27px;
    }

    .hero-container--base-information {
        padding-top: 59px;
    }

    .hero-container--access--img {
        margin-right: 6px;
        width: 21px;
        height: 18px;
    }

    .hero-container--access--text {
        font-size: 16px;
    }

    .hero-container--base-information--text {
        width: 320px;
	height: 78px;
        font-size: 22px;
        margin-left: auto;
        margin-right: auto;
	text-align: center;
    }

    .hero-container--description {
        padding-top: 22px
    }

    .hero-container--description--loading {
        display: none;
    }

    .hero-container--description--text {
        width: 270px;
        font-size: 16px;
        margin-left: auto;
        margin-right: auto;
				text-align: center;
    }

    .hero-container--message {
        padding-top: 345px;
    }

    .hero-container--message--btn {
        width: 360px;
        height: 110px; 
        padding: 40px 76px 40px 76px;
        background-image: url('../img/btn-phone.png');   
    }

    .hero-container--message--btn--text {
        color: #FFF;
        text-align: center;
        font-size: 18.779px;
        font-style: normal;
        font-weight: 500;
        line-height: 130%; /* 27.012px */
        letter-spacing: 1.039px;
    }

    .hero-container--message--btn1 {
        width: 19.384px;
        height: 18.975px;
        margin-left: 9px;
        margin-bottom: 7px;
        transform: translateY(10px);
    }

    .hero-container--message--btn2 {
        width: 29.55px;
        height: 29.649px;
        margin-left: 14px;
        transform: translateY(10px);
    }

    .results-container {
        padding-top: 59px;
    }

    .results-container--heading--text {
        width: 320px;
        font-size: 33px;
    }

    .results-container--elements {
        padding-top: 49px;
    }

    .results-container--elements--list {
        display: flex;
        flex-direction: column;
    }

    .results-container--elements--list--profession {
        width: 324px;
        margin-right: auto;
        margin-left: auto;
    }

    .results-container--elements--list--profession--item--text {
        margin-top: 20px;
        font-size: 20px;
    }

    .results-container--elements--list--plan {
        margin-top: 25px;
        margin-right: auto;
        margin-left: auto;
    }

    .results-container--elements--list--plan--item--text {
        margin-top: 20px;
    }

    .results-container--elements--list--clients {
        margin-top: 25px;
        margin-right: auto;
        margin-left: auto;
    }

    .results-container--elements--list--clients--item--text {
        margin-top: 20px;
    }

    .reviews-container {
        padding-top: 64px;
    }

    .reviews-container--heading--text {
        font-size: 40px;
    }

    .reviews-container--subtitle {
        display: none;
    }

    .reviews-container--video {
        padding-top: 25px;
    }

    .reviews-container--video--list--item-btnleft {
        margin: auto 7px auto auto;
    }

    .reviews-container--video--list--item-btnright {
        margin: auto auto auto 7px;
    }

    .reviews-container--video--list--item--btn-left, .reviews-container--video--list--item--btn-right {
        width: 49px;
        height: 49px;
    }

    .reviews-container--video--list--item--btn-left::before, .reviews-container--video--list--item--btn-right::before {
        width: 13.5px;
        top: 24px;
        right: 18px;
    }

    .reviews-container--video--list--item--btn-left::after {
        top: 20px;
        right: 22px;
    }

    .reviews-container--video--list--item-btnleft._active {
        transform: scale(1);
    }

    .reviews-container--video--list--item-btnleft {
        transform: scale(0);
        transition: all 2s ease 5s;
    }

    .reviews-container--video--list--item--btn-right::after {
        top: 20px;
        right: 18px;
    }

    .reviews-container--video--list--item-btnright._active {
        transform: scale(1);
    }

    .reviews-container--video--list--item-btnright {
        transform: scale(0);
        transition: all 2s ease 5s;
    }

    .reviews-container--video--list--item {
        display: none;
    }

    .reviews-container--video--list--item3 {
        margin: 0px;
    }

    .rates-container {
        padding-top: 64px;
        padding-bottom: 38px;
    }

    .rates-container--heading--text {
        font-size: 32px;
    }

    .rates-container--offers--list {
        display: flex;
        flex-direction: column;
    }

    .rates-container--offers--list--standart, .rates-container--offers--list--premium, .rates-container--offers--list--vip {
        margin-right: auto;
        margin-left: auto;
    }

    .rates-container--offers--list--premium, .rates-container--offers--list--vip {
        margin-top: 52px;
    }

		.rates-container--offers--list--standart2, .rates-container--offers--list--premium2, .rates-container--offers--list--vip2 {
			font-size: 4.5vw;
		}
}
